img{
    width: 300px;
}   

.centrador {
    display: flex;
    justify-content:space-between;
    width:70%;
}
button{
  background-color: rgb(53, 131, 184);
    color: rgb(255, 255, 255);
    width: 10%;
}